In [1]:
import pandas as pd

C:\Users\itsme\AppData\Local\Temp\ipykernel_17724\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
# Read your csv file into a DataFrame
df = pd.read_csv("raw_datewise_vader_2022_clean1.csv")[['Date','Tweet']]

In [3]:

# Convert the date column to datetime format
df["Date"] = pd.to_datetime(df["Date"])
# Group the DataFrame by month
groups = df.groupby(df["Date"].dt.month)
# Loop over the groups and save each one as a new csv file
for month, group in groups:
    # Use the month name as part of the file name
    month_name = group["Date"].dt.month_name().iloc[0]
    file_name = f"{month_name}.csv"
    # Save the group as a csv file
    group.to_csv(file_name, index=False)

In [21]:
bitcoin = pd.read_csv('BTC-USD.csv')[['Date','Open',"Close"]]
bitcoin['Net'] = bitcoin['Open'] - bitcoin['Close']
bitcoin

          Date          Open         Close           Net
0   2022-01-01  46311.746094  38483.125000   7828.621094
1   2022-02-01  38481.765625  43193.234375  -4711.468750
2   2022-03-01  43194.503906  45538.675781  -2344.171875
3   2022-04-01  45554.164063  37714.875000   7839.289063
4   2022-05-01  37713.265625  31792.310547   5920.955078
5   2022-06-01  31792.554688  19784.726563  12007.828125
6   2022-07-01  19820.470703  23336.896484  -3516.425781
7   2022-08-01  23336.718750  20049.763672   3286.955078
8   2022-09-01  20050.498047  19431.789063    618.708984
9   2022-10-01  19431.105469  20495.773438  -1064.667969
10  2022-11-01  20494.898438  17168.566406   3326.332032
11  2022-12-01  17168.001953  16547.496094    620.505859

In [37]:
# convert date column to datetime if not already
bitcoin["Date"] = pd.to_datetime(bitcoin["Date"])

# add month column
bitcoin["Month"] = bitcoin["Date"].dt.month_name()
# bitcoin.to_csv('bitcoin_month_wise')

KeyError: 'Date'

In [36]:
bitcoin.to_csv('bitcoin_month_wise',index=False)